body {
    display: block;
    margin: auto;
}

header {
    background: #fff;
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 500px;
}

footer {
    background: #ecedf179;
    min-height: 106px;
    padding: 60px 85px;
    color: #6f747e;
    font-size: 25px;
    line-height: 16px;
}